@model List<Sliders>
@{
    int counter = 0;
}
<div class="d-flex justify-content-between container-fluid">
    <h1>Sliders</h1>
    <div><a asp-action="create" asp-controller="features" asp-route-id="" class="btn btn-primary">Create</a></div>
</div>
<table class="table contact-form">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">RedirectText</th>
            <th scope="col">RedirectUrl</th>
            <th scope="col">Image</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sliders in Model)
        {
            counter++;
            <tr>
                <th scope="row">@counter</th>
                <td>@sliders.Title</td>
                <td>@sliders.Description</td>
                <td>@sliders.RedirectText</td>
                <td>@sliders.RedirectUrl</td>
                <td>@sliders.ImageUrl</td>
                <td>
                    <a asp-action="update" asp-controller="Features" asp-route-id="@sliders.Id" class="btn btn-success">Update</a>
                    <a asp-action="delete" asp-controller="Features" asp-route-id="@sliders.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
